.logs {
  text-align: left;
  width: 360px;
  color: white;
  border-bottom: 1px solid #ffffff59;
  line-height: 50px;
  position: relative;

  span {
    display: inline-block;
    padding-right: 3px;
    min-width: 9px;
    font-family: Digital7, sans-serif;
    text-align: right;
    font-size: 20px;
  }

  .remove {
    visibility: hidden;
  }
}

.logs:hover .remove {
  visibility: visible;
}

.remove {
  background-color: red;
  font-size: 12px;
  width: 60px;
  line-height: 24px;
  position: absolute;
  right: 2px;
  top: 10px;
  text-align: center;
  cursor: pointer;
}
