@font-face {
  font-family: 'Digital7';
  src: url('assets/font/digital-7.ttf');
  src: local('Digital7'), url('assets/font/digital-7.ttf') format('truetype');
}

body {
  background: #333333;
  font-family: "Helvetica Neue";
}


.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}
